<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img height="35px" src="{# LOGO #}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="{{path("home")}}">Inicio<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{path("listFilms")}}">Listar Películas</a>
                        <a class="nav-link" href="{{path("listGenres")}}">Listar Generos</a>
                        <a class="nav-link" href="{{path("newFilm")}}">Crear Películas</a>
                        <a class="nav-link" href="{{path("newGenre")}}">Crear Generos</a>
                    </div>
                </div>
            </nav>
            {% block container %} {% endblock %}
            {% block js %} {% endblock %}
        </div>
    </body>
</html>
