{% extends 'views/baseFilms.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col text-center"><h2>{{film.name}}</h2></div>
        </div>
        <div class="row">
            <div class="col">
                <img class="card-img" src="{{film.img}}">
            </div>
            <div class="col">
                <div class="row">
                    <p>Géneros de esta película:</p>
                    <ul>
                        {% for genre in film.genres%}
                        <li>{{genre.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
