{% extends 'views/baseFilms.html.twig' %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col text-center"><h2>{{genre.name}}</h2></div>
        </div>
        <div class="row">
            <div class="col">
                <img class="card-img" src="{{genre.img}}">
            </div>
            <div class="col">
                <div class="row">
                    <p>Películas con este género:</p>
                    <ul>
                        {% for film in genre.film%}
                        <li>{{film.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
