{% extends "views/baseFilms.html.twig" %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Clasificador de Películas</h1>
            </div>
        </div>
    </div>
{% endblock %}