{% extends 'views/baseFilms.html.twig' %}
{% block container %}
	<h2>Listado de Géneros
	</h2>
	<div class="row row-cols-1 row-cols-md-2">
		{% for genre in genres %}
			<div class="col mb-4">
				<div class="card" style="width: 18rem;">
					<img src="{{genre.img}}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{genre.name}}</h5>
						<a href="{{path("getGenre", {"id": genre.id})}}" class="btn btn-primary">Más Info</a>
						<a href="{{path("editGenre", {"id": genre.id})}}" class="btn btn-primary">Editar</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
