{% extends 'views/baseFilms.html.twig' %}
{% block container %}
	<h2>Listado de Películas
	</h2>
	<div class="row row-cols-1 row-cols-md-2">
		{% for film in films %}
			<div class="col mb-4">
				<div class="card" style="width: 18rem;">
					<img src="{{film.img}}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{film.name}}</h5>
						<a href="{{path("getFilm", {"id": film.id})}}" class="btn btn-primary">Más Info</a>
						<a href="{{path("editFilm", {"id": film.id})}}" class="btn btn-primary">Editar</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
